<div *ngIf="tokenList">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-info btn-sm" (click)="refresh()">Refresh</button>
        </div>
    </div>
    <div class="row justify-content-center" *ngIf="showRefreshMessage">
        <div class="col-12 col-md-auto">
            <sc-messages [(showMessage)]="showRefreshMessage" [messageType]="refreshErrorMessageType"></sc-messages>
        </div>
    </div>
    <sc-wallet [tokenList]="tokenList"></sc-wallet>
    <sc-trades [tokenList]="tokenList" (refreshBalances)="refreshBalances()"></sc-trades>
</div>