<h6 class="text-info">Step 2: Type in your NEO private key (your private key never leaves the browser)</h6>
<div *ngIf="!loggedIntoWallet">
    <div class="form-row justify-content-center">
        <div class="col-12 col-md-6">
            <input type="password" class="form-control form-control-sm text-center" [(ngModel)]="privateKey" placeholder="Private Key" />
        </div>
        <div class="col-auto">
            <button class="btn btn-success btn-sm" (click)="loginToWallet()" [disabled]="!privateKey">Login</button>
        </div>
    </div>
    <div class="form-row justify-content-center">
        <div class="col-auto">
            <p *ngIf="errorMessage">{{errorMessage}}</p>
        </div>
    </div>
</div>
<div *ngIf="loggedIntoWallet">
    <div class="form-row justify-content-center">
        <div class="col-12 col-md-6">
            <input type="text" class="form-control form-control-sm text-center" [(ngModel)]="address" readonly />
        </div>
        <div class="col-auto">
            <button class="btn btn-danger btn-sm" (click)="logoutOfWallet()">Logout</button>
        </div>
    </div>
</div>