<div class="container text-center">
    <div class="row">
        <div class="col">
            <h2><span class="switcheo-text">Switcheo</span> Contract Wallet</h2>
        </div>
    </div>
    <sc-contract (loadLogin)="loadLogin()" (changeContract)="changeContract()"></sc-contract>
    <sc-login *ngIf="loadLoginComponent" (loadWallet)="loadWalletAndTrades()" (logoutWallet)="logoutWallet()"></sc-login>
    <div *ngIf="loadWalletComponent && loadTradesComponent">
        <sc-wallet [tokenList]="tokenList"></sc-wallet>
        <sc-trades [tokenList]="tokenList"></sc-trades>
    </div>
</div>