<div>
    <h1>Contract Wallet</h1>
    <button (click)="refreshBalance()">Refresh</button>
    <span *ngIf="refreshMessage">{{refreshMessage}}</span>
    <div *ngIf="isWalletLoaded">
        <ul>
            <li *ngFor="let key of assetList">
                {{key}} : 
                <div *ngIf="contractWalletBalance[key] != null && contractWalletBalance[key].displayBalance > 0">
                    <span>
                        {{contractWalletBalance[key].displayBalance}}
                    </span>
                    <a href="javascript:void(0);" (click)="contractWalletBalance[key].withdrawAmount = contractWalletBalance[key].displayBalance">Max</a>
                    <input type="number"
                            (input)="displayInput($event, key)"
                            [(ngModel)]="contractWalletBalance[key].withdrawAmount"
                            min="0"
                            max="{{contractWalletBalance[key].displayBalance}}"
                            step="{{contractWalletBalance[key].withdrawInputSteps}}" />
                    <button (click)="withdraw('neo', key)" [disabled]="contractWalletBalance[key].isWithdrawDisabled">
                        Withdraw
                    </button>
                    <span *ngIf="contractWalletBalance[key].errorMessage">{{contractWalletBalance[key].errorMessage}}</span>
                </div>
                <div *ngIf="lockedWalletBalance[key] != null && lockedWalletBalance[key].displayBalance > 0">
                    <b>{{lockedWalletBalance[key].displayBalance}}</b>
                </div>
                <div *ngIf="confirmingWalletBalance[key] != null">
                    <div *ngFor="let confirmingWalletTx of confirmingWalletBalance[key]">
                        <span>{{confirmingWalletTx.event_type}}</span>
                        <span>{{confirmingWalletTx.amount}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>